<h2>Manage Athletics (Master List)</h2>

<fieldset>
    <legend>Existing Sports</legend>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sport Name</th>
                <th>Sport Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each athletics}}
            <tr>
                <td>{{this.sportID}}</td>
                <td>{{this.sportName}}</td>
                <td>{{this.sportType}}</td>
                <td>
                    <!-- Remove sport -->
                    <form method="POST" action="/athletics/remove" style="display:inline;">
                        <input type="hidden" name="universityID" value="{{../universityID}}">
                        <input type="hidden" name="sportID" value="{{this.sportID}}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</fieldset>
<br>

<fieldset>
    <legend>Add a New Sport</legend>
    <form id="add_sport_form" method="POST" action="/athletics/add">
        <input type="hidden" name="universityID" value="{{universityID}}">

        <label for="sportID">Select Sport:</label>
        <select id="sportID" name="sportID" required>
            <option value="1">Football (Men)</option>
            <option value="2">Basketball (Men)</option>
            <option value="3">Basketball (Women)</option>
        </select>

        <input type="submit" value="Add Sport">
    </form>
</fieldset>
